/* Mobile view responsive start from here */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  header nav .nav-links {
    flex-direction: column;
    gap: 20px;
  }

  /* Hero area responsive start from here */
  header #hero-area .hero-con {
    width: 100%;
  }
  /* Hero area responsive end here */
}
/* Mobile view responsive end here */
