/* "Work Sans" font imported from fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Common CSS code for entire project */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Work Sans", serif;
  scroll-behavior: smooth;
}
ol,
ul,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
img {
  display: flex;
  object-fit: cover;
}

/* Shared CSS for entire project */
.container {
  max-width: 1440px;
  margin-inline: auto;
  width: 75%;
}
p {
  font-size: 1rem;
  color: var(--dark-3);
  font-weight: 400;
  line-height: 160%;
}
.primary-btn {
  background: var(--bg-color);
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  color: var(--white-1);
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.section-heading {
  font-size: 2.813rem;
  color: var(--dark-1);
  font-weight: 700;
}
/* Shared root code */
:root {
  --dark-1: #131313;
  --dark-2: #424242;
  --dark-3: #727272;
  --white-1: #ffffff;
  --white-2: #fff4e7;
  --bg-color: #ff900e;
}

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 45px 0;
}

/* Navbar part CSS start from here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  font-size: 2.125rem;
  color: var(--dark-1);
  font-weight: 700;
}
nav .nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
  text-transform: capitalize;
}
nav .nav-links li a {
  font-size: 1.125rem;
  line-height: 140%;
  color: var(--dark-2);
}
/* Navbar part CSS end here */

/* Hero area CSS start from here */
#hero-area {
  text-align: center;
}
.hero-con {
  width: 862px;
  margin: 50px auto;
}
#hero-area .hero-con .hero-title {
  font-size: 4rem;
  color: var(--dark-1);
  font-weight: 700;
  margin-bottom: 16px;
}
.hero-con button {
  margin-top: 32px;
}
#hero-area .hero-image {
  max-width: 1420px;
  margin-inline: auto;
}
.hero-image img {
  width: 100%;
}
/* Hero area CSS end here */

/* About us section CSS start from here */
#about {
  display: flex;
  align-items: center;
  margin: 80px 0;
  gap: 60px;
}
#about .about-con {
  width: 468px;
}
#about .about-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-left: 50px;
}
.about-con p {
  margin: 24px 0 32px 0;
}
.about-con span:first-child {
  font-weight: 500;
  color: var(--dark-3);
}
.about-con span:last-child {
  color: var(--bg-color);
}
/* About us section CSS end here */

/* Feature section CSS start from here */
#feature {
  display: flex;
  gap: 120px;
}
#feature h2 {
  border-left: 5px solid var(--bg-color);
  padding-left: 20px;
  width: 468px;
  margin-bottom: 24px;
}
#feature p {
  width: 586px;
  margin-bottom: 30px;
}
.feature-card-container .feature-card {
  padding: 30px;
  background: var(--white-1);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}
.feature-card-container .feature-card:last-child{
  margin-bottom: 0;
}
.feature-card .card-title {
  color: var(--dark-1);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.feature-img {
  position: relative;
}
.feature-img .tag {
  padding: 42px;
  background: var(--bg-color);
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 80%;
  left: -10%;
}
.tag span:first-child{
  display: block;
  color: var(--white-1);
  font-size: 4.063rem;
  font-weight: 700;
  line-height: 70px;
}
.tag span:last-child{
  color: var(--white-1);
  font-size: 1.563rem;
  font-weight: 500;
  line-height: 40px;
}
/* Feature section CSS end here */
