/* "Work Sans" font imported from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Common CSS code for entire project */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Work Sans", serif;
}
ol,
ul,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
img {
  display: flex;
  object-fit: cover;
}

/* Shared CSS for entire project */
.container{
    max-width: 1440px;
    margin-inline: auto;
    width: 75%;
}

/* Shared root code */
:root{
    --dark-1: #131313;
    --dark-2: #424242;
    --dark-3: #727272;
    --white-1: #ffffff;
    --white-2: #FFF4E7;
    --bg-color: #FF900E;
}
